{% extends "layouts/journey.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import "govukSummaryList" with context %}

{% block casaPageTitle %}
    {{ t('about-your-grant:pageTitle') }}
{% endblock %}

{% block content_block %}

    <h1 class="govuk-heading-l hide-print">{{ t('about-your-grant:h1') }}</h1>
    <p class="govuk-body">{{ t('about-your-grant:p1-noJobTitle', employers) }}{{ t('about-your-grant:fullStop') }} </p>
    <p class="govuk-body">{{ t('about-your-grant:p3') }} </p>
    <p class="govuk-body">{{ t('about-your-grant:link1') | safe() }} </p>

    {% for grant in grantAwards -%}
        <h2 class="govuk-heading-m">{{ t('about-your-grant:h2', grant.startDate | formatLocalDateTime(locale), grant.endDate | formatLocalDateTime(locale)) }}</h2>
        {% set data = [] %}

        {% if grant.claimType == av %}
            {% set agreedCost %}
                {% for item in grant.adaptionToVehicleElementItems %}
                    {{ item.itemCost | formatCurrency }} - {{ item.itemDescription }}
                    {% if not loop.last %}</br>{% endif %}
                {% endfor %}
            {% endset %}

            {% if grantAwards | length > 1 %}
                <h3 class="govuk-heading-s">{{ t('about-your-grant:adaptationToVehicle') }}</h3>
            {% endif %}
        {% elif grant.claimType == ea %}
            {% set agreedCost %}
                {% for item in grant.saeElementItems %}
                    {{ item.itemCost | formatCurrency }} - {{ item.itemDescription }}
                    {% if not loop.last %}</br>{% endif %}
                {% endfor %}
            {% endset %}

            {% if grantAwards | length > 1 %}
                <h3 class="govuk-heading-s">{{ t('about-your-grant:specialistEquipment') }}</h3>
            {% endif %}
            {% elif grant.claimType == sw %}
            {% if grant.supportWorkerDetails %}
                {% if grantAwards | length > 1 %}
                    <h3 class="govuk-heading-s">{{ t('about-your-grant:supportWorker') }}</h3>
                {% endif %}
                {% set data = (data.push(
                    {
                        key: {
                        text: t('about-your-grant:supportType')
                    },
                        value: {
                        text:   ([grant.supportWorkerDetails.supportType, t('about-your-grant:for'), grant.supportWorkerDetails.numberOfEvents, " ", grant.supportWorkerDetails.eventFrequency | lower, t('about-your-grant:sPer'), grant.supportWorkerDetails.perPeriodFrequency | lower]) | join
                    }
                    }
                ), data) %}

                {% set agreedCost %}
                    {{ grant.supportWorkerDetails.supportCost | formatCurrency }} {{ t('about-your-grant:per') }} {{ grant.supportWorkerDetails.eventFrequency  | lower }}
                {% endset -%}
            {% else %}
                {% set agreedCost %}{% endset -%}
            {% endif %}
            {% elif grant.claimType == ttw %}
            {% if grantAwards | length > 1 %}
                <h3 class="govuk-heading-s">{{ t('about-your-grant:travelToWork') }}</h3>
            {% endif %}
            {% set agreedCost %}
                {{ grant.travelToWorkDetails.costPerJourney | formatCurrency }} {{ t('about-your-grant:perJourney') }}
            {% endset -%}

        {% endif %}
        {# Add agreedCost if set. eg SW Single costs we dont show this for now #}
        {% if agreedCost %}
            {% set data = (data.push(
                {
                    key: {
                    text: t('about-your-grant:tablerow2')
                },
                    value: {
                    html: agreedCost | safe
                }
                }
            ), data) %}
        {% endif %}
        {# Add common rows #}
        {% set data = (data.push(
            {
                key: {
                text: t('about-your-grant:tablerow3')
            },
                value: {
                text: grant.totalCost | formatCurrency
            }
            },
            {
                key: {
                text: t('about-your-grant:tablerow4')
            },
                value: {
                text: grant.nonAtwCost | formatCurrency
            }
            },
            {
                key: {
                text: t('about-your-grant:tablerow5')
            },
                value: {
                text: grant.atwCost | formatCurrency
            }
            },
            {
                key: {
                text: t('about-your-grant:tablerow6')
            },
                value: {
                text: (grant.totalCost - grant.spendToDate) | formatCurrency
            }
            }
        ), data) %}

        {{ govukSummaryList({
            rows: data
        }) }}

    {% endfor %}



    {{ govukButton({
        text: t('common:returnToAccountHome'),
        href: ([accountBaseUrl, "/home"] | join)
    }) }}

{% endblock %}
