{% extends "layouts/custom-main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/summary-list/macro.njk" import "govukSummaryList" with context %}
{% block casaPageTitle %}
    {{ t('about-your-grant:pageTitle') }}
{% endblock %}

{% block breadCrumbs %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: t('account:breadcrumbs1'),
                href: ([accountBaseUrl, "/home"] | join)
            },
            {
                text: t('about-your-grant:breadcrumb'),
                href: ([accountBaseUrl, "/about-your-grant"] | join)
            }
        ]
    }) }}

{% endblock %}

{% block content_block %}

    <h1 class="govuk-heading-l hide-print">{{ t('about-your-grant:h1', employeeName) }}</h1>

    <h2 class="govuk-heading-m">{{ t('about-your-grant:h2-1') }}</h2>
    <p class="govuk-body">{{ t('about-your-grant:p1') }} {{ employers }}{{ t('about-your-grant:fullStop') }} </p>

    {% for grant in grantAwards -%}
        {% set data = [] %}

        {% if grant.claimType == ea %}
            {% set agreedCost %}
                {% for item in grant.saeElementItems %}
                    {{ item.itemCost | formatCurrency }} - {{ item.itemDescription }}
                    {% if not loop.last %}</br>{% endif %}
                {% endfor %}
            {% endset %}

            {% if grantAwards | length > 1 %}
                <h3 class="govuk-heading-s">{{ t('about-your-grant:specialistEquipment') }}</h3>
            {% endif %}
            {% elif grant.claimType == sw %}
            {% if grant.supportWorkerDetails %}
                {% if grantAwards | length > 1 %}
                    <h3 class="govuk-heading-s">{{ t('about-your-grant:supportWorker') }}</h3>
                {% endif %}
                {% set data = (data.push(
                    {
                        key: {
                        text: t('about-your-grant:supportType')
                    },
                        value: {
                        text:   ([grant.supportWorkerDetails.supportType, t('about-your-grant:for'), grant.supportWorkerDetails.numberOfEvents, " ", grant.supportWorkerDetails.eventFrequency | lower, t('about-your-grant:sPer'), grant.supportWorkerDetails.perPeriodFrequency | lower]) | join
                    }
                    }
                ), data) %}

                {% set agreedCost %}
                    {{ grant.supportWorkerDetails.supportCost | formatCurrency }} {{ t('about-your-grant:Per') }} {{ grant.supportWorkerDetails.eventFrequency  | lower }}
                {% endset -%}
            {% else %}
                {% set agreedCost %}{% endset -%}
            {% endif %}
            {% elif grant.claimType == ttw %}
            {% if grantAwards | length > 1 %}
                <h3 class="govuk-heading-s">{{ t('about-your-grant:travelToWork') }}</h3>
            {% endif %}
            {% set agreedCost %}
                {{ grant.travelToWorkDetails.costPerJourney | formatCurrency }} {{ t('about-your-grant:perJourney') }}
            {% endset -%}

        {% endif %}
        {# Add agreedCost if set. eg SW Single costs we dont show this for now #}
        {% if agreedCost %}
            {% set data = (data.push(
                {
                    key: {
                    text: t('about-your-grant:tablerow2')
                },
                    value: {
                    html: agreedCost | safe
                }
                }
            ), data) %}
        {% endif %}
        {# Add common rows #}
        {% set data = (data.push(
            {
                key: {
                text: t('about-your-grant:tablerow3')
            },
                value: {
                text: grant.totalCost | formatCurrency
            }
            },
            {
                key: {
                text: t('about-your-grant:tablerow4')
            },
                value: {
                text: grant.nonAtwCost | formatCurrency
            }
            },
            {
                key: {
                text: t('about-your-grant:tablerow5')
            },
                value: {
                text: grant.atwCost | formatCurrency
            }
            },
            {
                key: {
                text: t('about-your-grant:tablerow6')
            },
                value: {
                text: (grant.totalCost - grant.spendToDate) | formatCurrency
            }
            }
        ), data) %}

        {{ govukSummaryList({
            rows: data
        }) }}

        <p class="govuk-body">{{ t('about-your-grant:p3') }}</p>

        <p class="govuk-body">
            {{ t('about-your-grant:p4-1') }}
            <strong>{{ grant.startDate | formatLocalDateTime(locale) }}</strong>
            {{ t('about-your-grant:p4-2') }}
            <strong>{{ grant.endDate | formatLocalDateTime(locale) }}</strong>
            {{ t('about-your-grant:p4-3') }}
        </p>
    {% endfor %}



    {{ govukButton({
        text: t('common:returnToAccountHome'),
        href: ([accountBaseUrl, "/home"] | join)
    }) }}

{% endblock %}
