{% extends "layouts/custom-main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block casaPageTitle %}
    {{ t('contact-us:pageTitle') }}
{% endblock %}

{{ govukBackLink({
    classes: 'hide-print govuk-!-margin-top-1',
    text: t('common:back'),
    href: casa.journeyPreviousUrl
}) }}

{% block content_block %}
    <h1 class="govuk-heading-l">{{ t('contact-us:h1') }}</h1>

    <p class="govuk-body">{{ t('contact-us:p1') }}</p>
        
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('contact-us:p2.span1') }}</li>
        <li>{{ t('contact-us:p2.span2') }}</li>
        <li>{{ t('contact-us:p2.link1', { url: 'https://www.relayuk.bt.com/' }) | safe }}</li>
        <li>{{ t('contact-us:p2.link2', { url: 'https://connect.interpreterslive.co.uk/vrs?ilc=DWP' }) | safe }}
        {{ t('contact-us:p2.bslUsers', { url: 'https://www.dalanguages.co.uk/dwp-bsl/' }) | safe }}</li>
    </ul>

    {{ govukButton({
        text: t('common:returnToAccountHome'),
        href: ([accountBaseUrl, "/home"] | join),
        preventDoubleClick: true
    }) }}

{% endblock %}
