{% extends "layouts/custom-main.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block casaPageTitle %}
    {{ t('multiple-claims-exit:pageTitle') }}
{% endblock %}

{% block content_block %}
    <h1 class="govuk-heading-l">
        {{ t('multiple-claims-exit:h1') }}
    </h1>

    <p class="govuk-body">{{ t('multiple-claims-exit:p1') }}</p>
    <p class="govuk-body">{{ t('multiple-claims-exit:p2') }}</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('multiple-claims-exit:telephone') }}</li>
        <li>{{ t('multiple-claims-exit:textphone') }}</li>
        <li>{{ t('multiple-claims-exit:relayLinkText', { url: 'https://www.relayuk.bt.com/' }) | safe }}</li>
        <li>{{ t('multiple-claims-exit:link2', { url: 'https://connect.interpreterslive.co.uk/vrs?ilc=DWP' }) | safe }}
        {{ t('multiple-claims-exit:bslUsers') }} 
        {{ t('multiple-claims-exit:checkYouCanUseLinkText', { url: 'https://www.dalanguages.co.uk/dwp-bsl/' }) | safe }}</li>
    </ul>

{{ govukButton({
    text: t('common:returnToAccountHome'),
    href: ([accountBaseUrl, "/home"] | join),
    preventDoubleClick: true
}) }}
{% endblock %}
