{% extends "layouts/journey.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}

{% block casaPageTitle %}
    {{ t('multiple-grants-summary:pageTitle') }}
{% endblock %}

{% block breadCrumbs %}
    {{ govukBackLink({
        classes: 'hide-print',
        text: t('common:back'),
        href: ([accountBaseUrl, "/home"] | join)
    }) }}

{% endblock %}

{% set data = [] %}

{% if eligibleForAtv %}
    {% set data = (data.push(
        {
            value: av,
            html: t('common:claimTypes.av'),
            attributes: {
                "aria-required": true
            }
        }), data) %}
{% endif %}

{% if eligibleForEa %}
    {% set data = (data.push(
        {
            value: ea,
            text: t('common:claimTypes.ea'),
            attributes: {
                "aria-required": true
            }
        }), data) %}
{% endif %}

{% if eligibleForSw %}
    {% set data = (data.push(
        {
            value: sw,
            html: t('common:claimTypes.sw'),
            attributes: {
                "aria-required": true
            }
        }), data) %}
{% endif %}

{% if eligibleForTtw %}
    {% set data = (data.push(
        {
            value: ttw,
            html: t('common:claimTypes.ttw'),
            attributes: {
                "aria-required": true
            }
        }), data) %}
{% endif %}


 {% if grants.length > 0 %}
    {% set data = (data.push(
        {
            divider: t('common:or')
        },
        {
            value: "other",
            text: t('common:other')
        }
    ), data) %}
{% endif %}

{% block journey_form %}

    {{ casaGovukRadios({
        name: "selectClaimType",
        casaValue: formData.selectClaimType,
        casaErrors: formErrors,
        fieldset: {
            legend: {
                text: t('multiple-grants-summary:h1'),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        hint: {
            html: hintBlock | safe
        },
        items: data
    }) }}

{% endblock %}
