{% extends "layouts/journey.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
    {{ t('submitted-travel-in-work:pageTitle') }}
{% endblock %}

{% block content_block %}

    {% if employmentStatus === "employed" %}

        {{ govukPanel({
            titleText: t('submitted-travel-in-work:h1'),
            html: t('submitted-travel-in-work:reference') + "<br><strong>"+ transactionId +"</strong>"
        }) }}

        <p class="govuk-body">{{ t('submitted-travel-in-work:employed.p1') }}</p>

        <h2 class="govuk-heading-m">{{ t('submitted-travel-in-work:employed.whatNext.h2') }}</h2>

        <p class="govuk-body">{{ t('submitted-travel-in-work:employed.whatNext.p1') }}</p>
        <p class="govuk-body">{{ t('submitted-travel-in-work:employed.whatNext.p2') }}</p>

    {% else %}

        {{ govukPanel({
            titleText: t('submitted-travel-in-work:h1')
        }) }}

        <h2 class="govuk-heading-m">{{ t('submitted-travel-in-work:selfEmployed.whatNext.h2') }}</h2>

        <p class="govuk-body">{{ t('submitted-travel-in-work:selfEmployed.whatNext.p1') }}</p>
        <p class="govuk-body">{{ t('submitted-travel-in-work:selfEmployed.whatNext.p2') }}</p>

    {% endif %}

    <p class="govuk-body"> {{ t('submitted-travel-in-work:feedback.link', { url: feedbackFormDirectUrl }) | safe }}</p>

    {{ govukButton({
        text: BUTTON_TEXT,
        href: ([accountBaseUrl, "/home"] | join)
    }) }}

{% endblock %}
