{% extends "casa/review/page-block.njk" %}

{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}

{% block reviewBlock %}

    {% set item = journeyContext['your-specialist-equipment'].item %}
    {% set files = journeyContext['__hidden_uploaded_files__'].files %}
    {% set refererUrl = '?edit&editorigin=' + casa.mountUrl + 'check-your-answers' %}
    
    {% set itemBlock %}
        <ul class="govuk-list">
            {% for i in item %}
            
                {% set monthOfPurchase = t('common:months.' + i['dateOfPurchase']['mm']) %}

                {% if i %}
                    <li>{{ i['dateOfPurchase']['dd'] + ' ' + monthOfPurchase + ' ' + i['dateOfPurchase']['yyyy'] + " - " }}</li>
                    <li>{{ i['description'] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endset %}


    {% set filesBLock %}
        <ul class="govuk-list">
            {% for f in files %}
                {% if f %}
                    <li>{{ f['fileName'] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endset -%}

    {% set cost = journeyContext['specialist-equipment-cost'].totalCost %}

    {{ customSummaryCardTable({
        card: {
            title: { text: t('your-equipment-or-adaptation:reviewBlock.sectionHeader') }
        },
        rows: [
            {
                key: { text: t('your-equipment-or-adaptation:reviewBlock.description') },
                value: { html: itemBlock | safe },
                actions: {
                items: [
                    {
                        href: 'your-specialist-equipment' + refererUrl,
                        text: t('review:block.changeLink'),
                        visuallyHiddenText: t('your-equipment-or-adaptation:reviewBlock.changeDescription'),
                        classes: 'govuk-link--no-visited-state hide-print'
                    }
                ]
            }
            },
            {
                key: { text: t('equipment-or-adaptation-cost:reviewBlock.cost') },
                value: { text: '£' + cost },
                actions: {
                items: [
                    {
                        href: 'specialist-equipment-cost' + refererUrl + '#f-totalCost',
                        text: t('review:block.changeLink'),
                        visuallyHiddenText: t('equipment-or-adaptation-cost:reviewBlock.changeCost'),
                        classes: 'govuk-link--no-visited-state hide-print'
                    }
                ]
            }
            },
            {
                key: { text: t('your-equipment-or-adaptation:reviewBlock.files') },
                value: { html: filesBLock | safe },
                actions: {
                items: [
                    {
                        href: 'receipts-invoices-uploaded' + refererUrl,
                        text: t('review:block.changeLink'),
                        visuallyHiddenText: t('your-equipment-or-adaptation:reviewBlock.changeFiles'),
                        classes: 'govuk-link--no-visited-state hide-print'
                    }
                ]
            }
            }
        ]
    }) }}

{% endblock %}
