node_modules/
app/public/*
npm-debug.log
.vscode/
.DS_Store
app/static/**/*
!app/static/.gitkeep
.idea/
/sessions/*
/sessions/.gitkeep
/coverage/
/.nyc_output/
/static/
certs/*
**/cucumber-reports/

gitlab-ci/
.gitlab-ci.yml
component-tests/
allowedNinos.txt
ninoTable.txt
/app/utils/nino-to-guid-stub.js