{% extends "casa/review/page-block.njk" %}

{% from "govuk/components/summary-list/macro.njk" import "govukSummaryList" with context %}

{% block reviewBlock %}

{% if isOnSwJourney %}
    {% set fullName = journeyContext['confirmer-details'].fullName %}
    {% set emailAddress = journeyContext['confirmer-details'].emailAddress %}

    {% set refererUrl = '?edit&editorigin=' + casa.mountUrl + 'check-your-answers' %}

    {% set data = [] %}

        {% set data = (data.push(
           {
                key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.fullName') },
                value: { text: fullName },
                actions: {
                    items: [
                        {
                            href: 'confirmer-details' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.changeFullName'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
            },
            {
                key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.emailAddress') },
                value: { text: emailAddress },
                actions: {
                    items: [
                        {
                            href: 'confirmer-details' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.changeEmailAddress'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
            }
        ), data) %}

    <h2 class="govuk-heading-m">{{ t('details-of-someone-who-can-confirm-costs:reviewBlock.h2') }}</h2>

    <p class="govuk-body">{{ t('details-of-someone-who-can-confirm-costs:reviewBlock.p') }}</p>

    {{ govukSummaryList({
        rows: data
    }) }}
{% endif %}

{% endblock %}
