{% extends "layouts/journey.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
    {{ t('submitted-adaptation-to-vehicle:pageTitle') }}
{% endblock %}


{% block content_block %}

            {{ govukPanel({
                titleText: t('submitted-adaptation-to-vehicle:h1')
            }) }}
            
            <h2 class="govuk-heading-m">{{ t('submitted-adaptation-to-vehicle:whatNext.h2') }}</h2>

            <p class="govuk-body">{{ t('submitted-adaptation-to-vehicle:whatNext.p1') }}</p>
            <p class="govuk-body">{{ t('submitted-adaptation-to-vehicle:whatNext.p2') }}</p>
            <p class="govuk-body"> {{ t('submitted-adaptation-to-vehicle:feedback.link', { url: feedbackFormDirectUrl }) | safe }}</p>

            {{ govukButton({
                text: BUTTON_TEXT,
                href: ([accountBaseUrl, "/home"] | join)
            }) }}

{% endblock %}
