{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {% if isOnSwJourney %}
        {{ t('details-of-someone-who-can-confirm-costs:pageTitleSW') }}
    {% elseif isOnTtwJourney %}
        {{ t('details-of-someone-who-can-confirm-costs:pageTitleTW') }}
    {% endif %}
{% endblock %}


{% block journey_form %}

    {% if isOnSwJourney %}
        <h1 class="govuk-heading-l">{{ t('details-of-someone-who-can-confirm-costs:h1SW') }}</h1>
        <p class="govuk-body">{{ t('details-of-someone-who-can-confirm-costs:pSW') }}</p>
    {% elseif isOnTtwJourney %}
        <h1 class="govuk-heading-l">{{ t('details-of-someone-who-can-confirm-costs:h1TW') }}</h1>
        <p class="govuk-body">{{ t('details-of-someone-who-can-confirm-costs:pTW') }}</p>
    {% endif %}



    {{ casaGovukInput({
        label: {
            text: t('details-of-someone-who-can-confirm-costs:inputs.fullName.label')
        },
        name: "fullName",
        value: formData.fullName,
        casaErrors: formErrors
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('details-of-someone-who-can-confirm-costs:inputs.emailAddress.label')
        },
        hint: {
            text: t('details-of-someone-who-can-confirm-costs:inputs.emailAddress.hint')
        },
        name: "emailAddress",
        value: formData.emailAddress,
        casaErrors: formErrors
    }) }}


{% endblock %}
