{% extends "layouts/journey.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton with context %}
{% from "govuk/components/summary-list/macro.njk" import "govukSummaryList" with context %}

{% block casaPageTitle %}
    {{ t('confirm-workplace-contact-details:pageTitle') }}
{% endblock %}

{% block content_block %}
    <form action="#" method="post" autocomplete="off" class="casa-journey-form">
        <input type="hidden" name="_csrf" value="{{ casa.csrfToken }}">
        <input type="hidden" name="reviewed" value="true"/>

        <h1 class="govuk-heading-l hide-print">{{ t('confirm-workplace-contact-details:h1') }}</h1>

        {{ govukSummaryList({
            rows: [
                {
                    key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.fullName') },
                    value: { text: fullName },
                    actions: {
                    items: [
                        {
                            href: 'amend-confirmer-details#f-fullName',
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.changeDescription'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
                },
                {
                    key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.emailAddress') },
                    value: { text: emailAddress },
                    actions: {
                    items: [
                        {
                            href: 'amend-confirmer-details#f-emailAddress',
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.changeFiles'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
                }
            ]
        }) }}


        <p class="govuk-body">{{ t('confirm-workplace-contact-details:p1') }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t('confirm-workplace-contact-details:li1') }}</li>
            <li>{{ t('confirm-workplace-contact-details:li2') }}</li>
        </ul>

        {{ govukButton({
            classes: "hide-print",
            attributes: {
                id: "continue-button"
            },
            text: t('common:form.buttons.continue.label'),
            href: casa.mountUrl + 'amend-declaration',
            preventDoubleClick: true
        }) }}
    </form>

{% endblock %}
