{% extends "layouts/journey.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
    {{ t('submitted-amended-claim:pageTitle') }}
{% endblock %}

{% block content_block %}

    {{ govukPanel({
        titleText: t('submitted-amended-claim:h1'),
        html: t('submitted-amended-claim:reference') + "<br><strong>"+ transactionId +"</strong>"
    }) }}

    <p class="govuk-body">
        <span>{{ t('submitted-amended-claim:p1.span') }}</span>
    </p>

    <h2 class="govuk-heading-m">{{ t('submitted-amended-claim:whatNext.h2') }}</h2>

    <p class="govuk-body">{{ t('submitted-amended-claim:whatNext.p1') }}</p>
    <p class="govuk-body">{{ t('submitted-amended-claim:whatNext.p2') }}</p>

    <p class="govuk-body"> {{ t('submitted-amended-claim:feedback.link', { url: feedbackFormDirectUrl }) | safe }}</p>

    {{ govukButton({
        text: BUTTON_TEXT,
        href: ([accountBaseUrl, "/home"] | join)
    }) }}

{% endblock %}
