{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('days-you-had-support:pageTitle', monthYearOfSupport | formatMonthYearObject(t)) }}
{% endblock %}

{% block journey_form %}
    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    {{ t('days-you-had-support:h1', monthYearOfSupport | formatMonthYearObject(t)) }}
                </h1>
            </legend>
        </fieldset>
    </div>

{% set j = 0 %}

{% set arrayDatesLength = arrayDates | length %}

{% for i in range(0, arrayDatesLength) %}

{% set arrayDatesDaysLength = arrayDates[i].days | length %}

{% set weekStart = arrayDates[i].days[0].day + ' ' + t('common:months.' + dateOfSupport.mm) %}

{% if arrayDates[i].days[0].weekday == '1' %}

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h2 class="govuk-fieldset__heading">
            {{ t('common:weekBeginning') + ' ' + weekStart }}
          </h2>
        </legend>
      </fieldset>

{% endif %}

{% for s in range(0, arrayDatesDaysLength) %}

{% set weekDay = t('common:days.' + arrayDates[i].days[s].weekday) + ' ' + arrayDates[i].days[s].day + ' ' + t('common:months.' + dateOfSupport.mm) %}

{% if arrayDates[i].days[s].day == days[j] %}
        <div class="govuk-checkboxes govuk-checkboxes--small govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ arrayDates[i].days[s].day }}" name="daysOfSupport" type="checkbox"
          value="{{ arrayDates[i].days[s].day }}" checked=true>
          <label class="govuk-label govuk-checkboxes__label" for="{{ arrayDates[i].days[s].day }}">
                {{ weekDay }}
          </label>
        </div>
   {% set j = j + 1 %}
   {% else %}

    <div class="govuk-checkboxes govuk-checkboxes--small govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="{{ arrayDates[i].days[s].day }}" name="daysOfSupport" type="checkbox"
      value="{{ arrayDates[i].days[s].day }}">
        <label class="govuk-label govuk-checkboxes__label" for="{{ arrayDates[i].days[s].day }}">
            {{ weekDay }}
        </label>
    </div>
{% endif %}

{% endfor %}

{% endfor %}

</div>

{% endblock %}
