{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('support-cost:pageTitle') }}
{% endblock %}

{% block journey_form %}


    {{ casaGovukInput({
        id: 'f-totalCost',
        name: 'totalCost',
        value: formData.totalCost,
        casaErrors: formErrors,
        classes: "govuk-input--width-5",
        label: {
            text: t("support-cost:h1"),
            classes: "govuk-label--l",
            isPageHeading: true
        },
        prefix: {
            text: "£"
        },
        hint: {
            text:  t("support-cost:hint")
        }
    }) }}

{% endblock %}
