{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% extends "layouts/full-width.njk" %}

{% set summaryBlocks %}
{% set monthLength = allData | length %}
{% set monthsArray = [] %}
{% set actionsArray = [] %}

{% for key, value in allData %}

    {% set urlSuffix = '?removeId=' + key %}

    {% set formatMonthYear = value.monthYear | formatMonthYearObject(t) %}
    {% set supportLength = value.claim | length %}
    {% set rowsArray = [] %}

    {% for s in range(0, supportLength) %}

    {% set weekDay = value.claim[s].dayOfSupport + ' ' + formatMonthYear %}

        {% set nameOfSupportLength = value.claim[s].nameOfSupport | length %}
        {% set hoursOfSupportBlock %}
            {{ ((value.claim[s].timeOfSupport.hoursOfSupport +  t('common:hour')) if value.claim[s].timeOfSupport.hoursOfSupport | int === 1 else (value.claim[s].timeOfSupport.hoursOfSupport  +  t('common:hours'))) }}
        {% endset -%}
        {% set minutesOfSupportBlock %}
            {{ ((value.claim[s].timeOfSupport.minutesOfSupport + t('common:minute')) if value.claim[s].timeOfSupport.minutesOfSupport | int === 1 else (value.claim[s].timeOfSupport.minutesOfSupport + t('common:minutes'))) }}
        {% endset -%}
        {% set timeOfSupport %}
            {{ hoursOfSupportBlock + t('common:and') + minutesOfSupportBlock }}
        {% endset -%}
        {% set timeOfSupportBlock %}
        <ul class="govuk-list">
            {% if nameOfSupportLength > 0 %}
                {{ (timeOfSupport) + t('common:from') + value.claim[s].nameOfSupport }}
            {% else %}
                {{ timeOfSupport }}
            {% endif %}
        </ul>
        {% endset -%}
        {% if monthLength > 1 %}
            {% set actionsArray = {
                items: [
                {
                    href: calculateChangeLinkUrl(key, s, inEditMode),
                    text: t('support-claim-summary:change'),
                    visuallyHiddenText: t('support-claim-summary:visuallyHiddenText.change') + formatMonthYear
                    },
                    {
                    href: calculateRemoveLinkUrl(key, s, inEditMode),
                    text: t('support-claim-summary:remove'),
                    visuallyHiddenText: t('support-claim-summary:visuallyHiddenText.remove_1') + formatMonthYear + t('support-claim-summary:visuallyHiddenText.remove_2')
                    }
                ]
                } %}
        {% else %}
            {% set actionsArray = {
                items: [
                    {
                    href: calculateChangeLinkUrl(key, s, inEditMode),
                    text: t('support-claim-summary:change'),
                    visuallyHiddenText: t('support-claim-summary:visuallyHiddenText.change') + formatMonthYear
                    }
                ]
                } %}
        {% endif %}

        {% set rowsArray = (rowsArray.push({
                key: {
                    text: weekDay
                },
                value: { html: timeOfSupportBlock | safe }
            }), rowsArray) %}

    {% endfor %}

    {{ customSummaryCardTable({
        card: {
            title: {
            text:  t('support-claim-summary:p1', formatMonthYear)
            },
            actions: actionsArray
        },
        rows: rowsArray
        }) }}

{% endfor %}
{% endset -%}

{% macro getSummaryHeading() %}
    {{ t('support-claim-summary:h1Prefix') + ((totalRoundedHours + t('common:hour')) if totalRoundedHours | int === 1 else (totalRoundedHours + t('common:hours')))
        + t('common:and') +
        ((totalRoundedMinutes + t('common:minute')) if totalRoundedMinutes | int === 1 else (totalRoundedMinutes + t('common:minutes')))
        + t('common:ofSupport') }}
{% endmacro %}

{% block head %}
    {{ super() }}
    <link href="{{ casa.mountUrl }}public/css/summaryCard.css?{{ version }}" rel="stylesheet">
{% endblock %}

{% block casaPageTitle %}
    {{ getSummaryHeading() }}
{% endblock %}

{% block journey_form %}
    <h1 class="govuk-heading-l">
        {{ getSummaryHeading() }}
    </h1>

    {{ summaryBlocks | safe }}

    <p class="govuk-body">{{ t('support-claim-summary:p2') }}</p>
    <p class="govuk-body">{{ t('support-claim-summary:p3') }}</p>

    {{ casaGovukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "anotherMonth",
        name: "anotherMonth",
        casaValue: formData.anotherMonth,
        fieldset: {
            legend: {
                text: t('support-claim-summary:radioText'),
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
            }
        },
        casaErrors: formErrors,
        items: [
            {
                value: "yes",
                text: t('support-claim-summary:radioYes')
            },
            {
                value: "no",
                text: t('support-claim-summary:radioNo')
            }
        ]
    }) }}

{% endblock %}
