{% extends "layouts/journey.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
    {{ t('what-you-will-need-to-submit-a-claim:SW.pageTitle') }}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l">{{ t('what-you-will-need-to-submit-a-claim:SW.h1') }}</h1>

    <p class="govuk-body">{{ t('what-you-will-need-to-submit-a-claim:SW.paragraph1') }}</p>
    
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>{{ t('what-you-will-need-to-submit-a-claim:SW.ul.li1') }}</li>
        <li>{{ t('what-you-will-need-to-submit-a-claim:SW.ul.li2') }}</li>
        <li>{{ t('what-you-will-need-to-submit-a-claim:SW.ul.li3') }}</li>
        <li>{{ t('what-you-will-need-to-submit-a-claim:SW.ul.li4') }}</li>
    </ul>

    <h2 class="govuk-heading-m">{{ t('what-you-will-need-to-submit-a-claim:SW.h2') }}</h2>

    <p class="govuk-body">{{ t('what-you-will-need-to-submit-a-claim:SW.paragraph3') }}</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>{{ t('what-you-will-need-to-submit-a-claim:SW.ul.li5') }}</li>
        <li>{{ t('what-you-will-need-to-submit-a-claim:SW.ul.li6') }}</li>
    </ul>

    <p class="govuk-body">{{ t('what-you-will-need-to-submit-a-claim:SW.paragraph4') }}</p>

{% endblock %}
