{% extends "casa/review/page-block.njk" %}

{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block reviewBlock %}

    {% set claim = journeyContext['__hidden_support_page__'] %}
    {% set nameOfSupport = journeyContext['support-worker-or-agency-name'].supportWorkerOrAgencyName %}
    {% set files = journeyContext['__hidden_uploaded_files__'].files %}
    {% set refererUrl = '?edit&editorigin=' + casa.mountUrl + 'check-your-answers' %}
    {% set data = [] %}
    {% set monthlyHoursOfSupport = 0 %}
    {% set monthlyMinutesOfSupport = 0 %}
    {% set totalHoursOfSupport = 0 %}
    {% set totalMinutesOfSupport = 0 %}
    {% set totalCost = journeyContext['support-cost'].totalCost %}
    {% set nonAtwCost = journeyContext['__grant_being_claimed__'].nonAtwCost %}
    {% set monthLength = claim | length %}

        {% for monthIndex, month in claim %} 

                {% for day in month['claim'] %}

                    {% set monthlyHoursOfSupport = monthlyHoursOfSupport + day['timeOfSupport']['hoursOfSupport'] | int %}
                    {% set monthlyMinutesOfSupport = monthlyMinutesOfSupport + day['timeOfSupport']['minutesOfSupport'] | int %}

                {% endfor %}
                
                {% set totalHoursOfSupport = totalHoursOfSupport + monthlyHoursOfSupport %}
                {% set totalMinutesOfSupport = totalMinutesOfSupport + monthlyMinutesOfSupport %}

                {% set monthBlock %}
                        {{ (monthlyHoursOfSupport + t('common:hour') if monthlyHoursOfSupport | int === 1 else monthlyHoursOfSupport + t('common:hours')) + 
                        t('common:and') }}
                        {{ (monthlyMinutesOfSupport + t('common:minute') if monthlyMinutesOfSupport | int === 1 else monthlyMinutesOfSupport + t('common:minutes')) }} 
                {% endset -%}

                {% set monthlyHoursOfSupport = 0 %}
                {% set monthlyMinutesOfSupport = 0 %}

                {% set data = (data.push(
                        {
                            key: { text: month['monthYear'] | formatMonthYearObject(t) },
                            value: { text: ((monthBlock | safe) + t('common:from') + (day['nameOfSupport']) if day['nameOfSupport'] else monthBlock | safe) },
                            actions: {
                            items: [
                                {
                                    href: 'support-claim-summary' + refererUrl + '&changeMonthYear=' + monthIndex ,
                                    text: t('review:block.changeLink'),
                                    visuallyHiddenText: t('claim-information:reviewBlock.changeDaysOfSupport', month['monthYear'] | formatMonth(t)),
                                    classes: 'govuk-link--no-visited-state hide-print'
                                }
                            ]
                            }
                        }
                ), data) %}
        {% endfor %}

        {{ customSummaryCardTable({
                card: {
                    title: { text: t('claim-information:reviewBlock.totalMonthlySupport', month['monthYear'] | formatMonthYearObject(t)) }
                },
                rows: data
            }) }}


        {% set filesBLock %}
            <ul class="govuk-list">
                {% for f in files %}
                    {% if f %}
                        <li>{{ f['fileName'] }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endset -%}

        {% set convertedMinutes = (totalHoursOfSupport * 60) + totalMinutesOfSupport %}
        {% set convertedHours = (convertedMinutes/60) %}
        {% set roundedHours %}
            {{ convertedHours | round(0, "floor") }}
        {% endset -%}
        {% set minutes = (convertedHours - roundedHours)*60 %}
        {% set roundedMinutes %}
            {{ minutes | round }}
        {% endset -%}

    {{ customSummaryCardTable({
        card: {
            title: { text: t('claim-information:reviewBlock.totalHoursAndCosts') }
        },
        rows: [
            {
                key: { text: t('claim-information:reviewBlock.supportWorkerName') },
                value: { text: nameOfSupport },
                actions: {
                items: [
                    {
                        href: 'support-worker-or-agency-name' + refererUrl,
                        text: t('review:block.changeLink'),
                        visuallyHiddenText: t('claim-information:reviewBlock.changesupportWorkerName'),
                        classes: 'govuk-link--no-visited-state hide-print'
                    }
                ]
                }
            },
            {
                key: { text: t('claim-information:reviewBlock.totalHoursOfSupport') },
                value: { text: (roundedHours + t('common:hour') if roundedHours | int === 1 else roundedHours + t('common:hours'))
                        + t('common:and') +
                        (roundedMinutes + t('common:minute') if roundedMinutes | int === 1 else roundedMinutes + t('common:minutes'))
                        + t('common:ofSupport') },
                actions: {
                items: [
                        {
                            href: 'support-claim-summary' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('claim-information:reviewBlock.changeTotalHoursOfSupport'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                ]
                }
            },
            {
                key: { text: t('claim-information:reviewBlock.totalCost') },
                value: { text: '£' + totalCost },
                actions: {
                items: [
                    {
                        href: 'support-cost' + refererUrl,
                        text: t('review:block.changeLink'),
                        visuallyHiddenText: t('claim-information:reviewBlock.changeTotalCost'),
                        classes: 'govuk-link--no-visited-state hide-print'
                    }
                ]
                }
            },
            {
                key: { text: t('claim-information:reviewBlock.files') },
                value: { text: (filesBLock | safe) },
                actions: {
                items: [
                    {
                        href: 'receipts-invoices-uploaded' + refererUrl,
                        text: t('review:block.changeLink'),
                        visuallyHiddenText: t('claim-information:reviewBlock.changeFiles'),
                        classes: 'govuk-link--no-visited-state hide-print'
                    }
                ]
                }
            }
        ]
    }) }}

{% endblock %}
