{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block reviewBlock %}

    {% set typeOfTravel = journeyContext['which-journey-type'].howDidYouTravelForWork %}
    {% set journeysOrMileage = journeyContext['journeys-miles'].journeysOrMileage %}
    {% set claim = journeyContext['__hidden_travel_page__'] %}
    {% set files = journeyContext['__hidden_uploaded_files__'].files %}
    {% set refererUrl = '?edit&editorigin=' + casa.mountUrl + 'check-your-answers' %}
    {% set data = [] %}
    {% set monthlyTravelData = [] %}
    {% set totalOfAllTravel = 0 %}
    {% set totalCost = journeyContext['taxi-journeys-cost'].totalCost %}
    {% set nonAtwCost = journeyContext['__grant_being_claimed__'].nonAtwCost %}

    {% set monthLength = claim | length %}

        {% for monthIndex, month in claim %}
            {% set monthBlock %}
            {% set totalOfAllMonth = 0 %}
            {% for day in month['claim'] %}
                {% set totalOfAllTravel = totalOfAllTravel + day['totalTravel'] | float %}
                {% set totalOfAllMonth = totalOfAllMonth + day['totalTravel'] | float %}
            {% endfor %}
                <ul class="govuk-list">
                    {% if totalOfAllMonth > 1 %} 
                        <li> {{ totalOfAllMonth }} {{ t('travel-to-work-claim-information:reviewBlock.mileage') if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.journeys') }} </li> 
                        {% else %} 
                        <li> {{ totalOfAllMonth }} {{ t('travel-to-work-claim-information:reviewBlock.mile') if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.journey') }} </li> 
                    {% endif %}
                </ul>
            {% endset -%}
            {% set monthlyTravelData = (monthlyTravelData.push(
                {
                    key: { text: (month['monthYear'] | formatMonthYearObject(t)) },
                    value: { text: (monthBlock | safe) },
                    actions: {
                    items: [
                        {
                            href: 'journey-summary?edit=&editorigin=/claim/check-your-answers',
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.vhtChangeMiles', month['monthYear'] | formatMonthYearObject(t))
                                                if journeysOrMileage ===  'mileage' 
                                                else t('travel-to-work-claim-information:reviewBlock.changeDaysOfTravel', month['monthYear'] | formatMonthYearObject(t)),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), monthlyTravelData) %}
        {% endfor %}
        {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.totalOfAllMileage', day['totalTravel']) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.totalOfAllJourneys', day['totalTravel']) },
                    value: { text: totalOfAllTravel },
                    actions: {
                    items: [
                        {
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}

        {% if totalCost %}
            {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.totalCostJourneys') },
                    value: { text: '£' + totalCost },
                    actions: {
                    items: [
                        {
                            href: 'taxi-journeys-cost' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeTotalCostJourneys'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}
        {% endif %}

        {% set filesBLock %}
            <ul class="govuk-list">
                {% for f in files %}
                    {% if f %}
                        <li>{{ f['fileName'] }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endset -%}

        {% if files or files.length > 0 %}
            {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.files') },
                    value: { text: (filesBLock | safe) },
                    actions: {
                    items: [
                        {
                            href: 'receipts-invoices-uploaded' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeFiles'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}
        {% endif %}

    {{ customSummaryCardTable({
        card: {
            title: { text: t('travel-to-work-claim-information:reviewBlock.monthlyTravel') }
        },
        rows: monthlyTravelData
    }) }}


    {{ customSummaryCardTable({
        card: {
            title: { text: t('travel-to-work-claim-information:reviewBlock.taxiHeader') if typeOfTravel ===  'taxi' else t('travel-to-work-claim-information:reviewBlock.liftHeader') }
        },
        rows: data
    }) }}

{% endblock %}
