{% extends "casa/review/page-block.njk" %}

{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block reviewBlock %}

    {% set typeOfTravel = journeyContext['which-journey-type'].howDidYouTravelForWork %}
    {% set journeysOrMileage = journeyContext['journeys-miles'].journeysOrMileage %}
    {% set claim = journeyContext['__hidden_travel_page__'] %}
    {% set files = journeyContext['__hidden_uploaded_files__'].files %}
    {% set refererUrl = '?edit&editorigin=' + casa.mountUrl + 'check-your-answers' %}
    {% set data = [] %}
    {% set totalOfAllTravel = 0 %}
    {% set totalCost = journeyContext['taxi-journeys-cost'].totalCost %}
    {% set nonAtwCost = journeyContext['__grant_being_claimed__'].nonAtwCost %}

    {% set monthLength = claim | length %}

        {% if journeysOrMileage %}
            {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.journeysOrMileage') },
                    value: { text: t('travel-to-work-claim-information:reviewBlock.liftMileage') if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.liftJourney') },
                    actions: {
                    items: [
                        {
                            href: 'journeys-miles' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeTypeOfTravel'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}
        {% endif %}

        {% for monthIndex, month in claim %}
                
            {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.monthOfTravel') },
                    value: { text: (month['monthYear'] | formatMonthYearObject(t)) },
                    actions: {
                    items: [
                        {
                            href: 'journeys-miles' + refererUrl,
                            text: t('review:removeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeTypeOfTravel'),
                            classes: 'link-button hide-print'
                        } if monthLength > 1 else {  }
                    ]
                    }
                }
            ), data) %}

            {% set monthBlock %}
                {% for day in month['claim'] %}
                    {% set totalOfAllTravel = totalOfAllTravel + day['totalTravel'] | float %}
                    <ul class="govuk-list">
                        <li>{{ day['dayOfTravel'] }} {{ month['monthYear'] | formatMonthYearObject(t) }}</li>
                        <li>{{ t('travel-to-work-claim-information:reviewBlock.mileage', day['totalTravel']) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.journeys', day['totalTravel']) }}</li>
                    </ul>
                {% endfor %}
            {% endset -%}
            {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.daysOfMileage', month['monthYear'] | formatMonth(t)) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.daysOfTravel', month['monthYear'] | formatMonth(t)) },
                    value: { text: (monthBlock | safe) },
                    actions: {
                    items: [
                        {
                            href: 'travel-days' + refererUrl + '&changeMonthYear=' + monthIndex,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeDaysOfTravel'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}
        {% endfor %}

        {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.totalOfAllMileage', day['totalTravel']) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.totalOfAllJourneys', day['totalTravel']) },
                    value: { text: t('travel-to-work-claim-information:reviewBlock.mileage', totalOfAllTravel | round(1) ) if journeysOrMileage ===  'mileage' else t('travel-to-work-claim-information:reviewBlock.journeys', totalOfAllTravel) },
                    actions: {
                    items: [
                        {
                            href: 'journey-summary' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeTotalNumberOfMiles'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}

        {% if totalCost %}
            {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.totalCostJourneys') },
                    value: { text: '£' + totalCost },
                    actions: {
                    items: [
                        {
                            href: 'taxi-journeys-cost' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeTotalCostJourneys'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}
        {% endif %}

        {% set filesBLock %}
            <ul class="govuk-list">
                {% for f in files %}
                    {% if f %}
                        <li>{{ f['fileName'] }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endset -%}

        {% if files or files.length > 0 %}
            {% set data = (data.push(
                {
                    key: { text: t('travel-to-work-claim-information:reviewBlock.files') },
                    value: { text: (filesBLock | safe) },
                    actions: {
                    items: [
                        {
                            href: 'receipts-invoices-uploaded' + refererUrl,
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('travel-to-work-claim-information:reviewBlock.changeFiles'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                    }
                }
            ), data) %}
        {% endif %}

    {{ customSummaryCardTable({
        card: {
            title: { text: t('travel-to-work-claim-information:reviewBlock.taxiHeader') if typeOfTravel ===  'taxi' else t('travel-to-work-claim-information:reviewBlock.liftHeader') }
        },
        rows: data
    }) }}

{% endblock %}
