{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {{ t('new-phone-number:pageTitle') }}
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block journey_form %}

    {{ casaGovukInput({
        label: {
            text: t('new-phone-number:h1'),
            classes: "govuk-label--l",
            isPageHeading: true
        },
        name: "homeNumber",
        value: formData.homeNumber,
        casaErrors: formErrors
    }) }}

{% endblock %}
