{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {{ t('new-mobile-number:pageTitle') }}
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block journey_form %}

    {{ casaGovukInput({
        label: {
            text: t('new-mobile-number:h1'),
            classes: "govuk-label--l",
            isPageHeading: true
        },
        name: "mobileNumber",
        value: formData.mobileNumber,
        casaErrors: formErrors
    }) }}

{% endblock %}
