{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {{ t('new-mobile-number:pageTitle') }}
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l">{{ t('new-mobile-number:h1') }}</h1>

    {{ casaGovukInput({
        name: "mobileNumber",
        value: formData.mobileNumber,
        casaErrors: formErrors
    }) }}

{% endblock %}
