{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {{ t('update-your-email-address:pageTitle') }}
{% endblock %}

{% block beforeContent %}

    {{ super() }}

{% endblock %}

{% block journey_form %}

    {{ casaGovukInput({
        name: "emailAddress",
        label: {
            text: t('update-your-email-address:h1'),
            classes: "govuk-label--l",
            isPageHeading: true
        },
        hint: {
            text: t('update-your-email-address:p1')
        },
        value: formData.emailAddress,
        casaErrors: formErrors
    }) }}

{% endblock %}
