{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/date-input/macro.njk" import govukDateInput -%}
{%- from "govuk/components/fieldset/macro.njk" import govukFieldset -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% extends "layouts/full-width.njk" %}

{% block head %}
    {{ super() }}
    <link href="{{ casa.mountUrl }}public/css/summaryCard.css?{{ version }}" rel="stylesheet">
{% endblock %}

{% set equipmentLength = allData | length %}

{% block casaPageTitle %}
    {% if equipmentLength === 1 %}
        {{ t('equipment-or-adaptation-summary:h1Single') }}
    {% else %}
        {{ t('equipment-or-adaptation-summary:h1Multiple', equipmentLength) }}
    {% endif %}
{% endblock %}

{% block journey_form %}
    {% if equipmentLength === 1 %}
        <h1 class="govuk-heading-l">{{ t('equipment-or-adaptation-summary:h1Single') }}</h1>
    {% else %}
        <h1 class="govuk-heading-l">{{ t('equipment-or-adaptation-summary:h1Multiple', equipmentLength) }}</h1>
    {% endif %}

    {% set rowsArray = [] %}
    {% for key, value in allData %}

        {% set numberOfAdaptations = value | length %}

        {% for i in range(0, numberOfAdaptations) %}
            
            {% set monthOfPurchase = t('common:months.' + value[i].dateOfPurchase['mm']) %}

            {% set rowsArray = (rowsArray.push({

                key: {
                    text: value[i].dateOfPurchase['dd'] + ' ' + monthOfPurchase + ' ' + value[i].dateOfPurchase['yyyy']
                },
                value: {
                    text: value[i].description
                },
                actions: {
                      items: [
                            {
                                href: calculateChangeLinkUrl(key, i, inEditMode),
                                text: t('equipment-or-adaptation-summary:change'),
                                visuallyHiddenText: t('equipment-or-adaptation-summary:visuallyHiddenText')
                            },
                            {
                                href: calculateRemoveLinkUrl(key, i, inEditMode),
                                text: t('equipment-or-adaptation-summary:remove'),
                                visuallyHiddenText: t('equipment-or-adaptation-summary:visuallyHiddenText')
                            } 
                        ] if equipmentLength > 1 else 
                        [
                            {
                                href: calculateChangeLinkUrl(key, i, inEditMode),
                                text: t('equipment-or-adaptation-summary:change'),
                                visuallyHiddenText: t('equipment-or-adaptation-summary:visuallyHiddenText')
                            }
                        ]
                }
            }), rowsArray) %}

        {% endfor %}
    {% endfor %}


    {{ customSummaryCardTable({
    card: {
    },
    rows: rowsArray
    }) }}

    {{ casaGovukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "addAnother",
            name: "addAnother",
            casaValue: formData.addAnother,
            fieldset: {
                legend: {
                    text: t('equipment-or-adaptation-summary:radioText'),
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            casaErrors: formErrors,
            items: [
                {
                    value: "yes",
                    text: t('equipment-or-adaptation-summary:radioYes')
                },
                {
                    value: "no",
                    text: t('equipment-or-adaptation-summary:radioNo')
                }
            ]
        }) }}

{% endblock %}

