{% extends "layouts/journey.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block casaPageTitle %}
    {{ t('submitted-equipment-or-adaptations:pageTitle') }}
{% endblock %}


{% block content_block %}

            {{ govukPanel({
                titleText: t('submitted-equipment-or-adaptations:h1')
            }) }}
            <p class="govuk-body">{{ t('submitted-equipment-or-adaptations:p1Beginning') }}
                <a href={{ accountBaseUrl + "/your-claims-multiple" }}>{{ t('submitted-equipment-or-adaptations:p1Link') }}</a>{{ t('submitted-equipment-or-adaptations:p1End') }}
            </p>
            
            <h2 class="govuk-heading-m">{{ t('submitted-equipment-or-adaptations:whatNext.h2') }}</h2>

            <p class="govuk-body">{{ t('submitted-equipment-or-adaptations:whatNext.p1') }}</p>
            <p class="govuk-body">{{ t('submitted-equipment-or-adaptations:whatNext.p2') }}</p>
            <p class="govuk-body">
                <a href={{ ([ accountBaseUrl, "/home"] | join) }}>{{ BUTTON_TEXT }}</a>
            </p>
            <p class="govuk-body"><a
                        href={{ feedbackFormDirectUrl }}>{{ t('submitted-equipment-or-adaptations:feedback.link') }}</a>
            </p>

{% endblock %}
