{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('cost-of-taxi-journeys:pageTitle') }}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l">{{ t('cost-of-taxi-journeys:h1') }}</h1>
    <p class="govuk-body">{{ t('cost-of-taxi-journeys:p1') }}</p>
    <p class="govuk-body">{{ t('cost-of-taxi-journeys:p2') }}</p>

    {{ casaGovukInput({
        id: 'f-totalCost',
        name: 'totalCost',
        value: formData.totalCost,
        casaErrors: formErrors,
        classes: "govuk-input--width-5",
        label: {
            text: t("cost-of-taxi-journeys:label"),
            classes: "govuk-label--m"
        },
        prefix: {
            text: "£"
        },
        attributes: {
            "aria-required": true
        }
    }) }}

{% endblock %}
