{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}
{% from "casa/components/date-input/macro.njk" import casaGovukDateInput with context %}
{% from "../common/invisible-button.njk" import renderInvisibleButton %}

{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {% if journeysOrMileage === "mileage" or journeysOrMileage === "journeys" %}
        {{ t('days-you-travelled-for-work:pageTitleLifts', monthYearOfTravel | formatMonthYearObject(t)) }}
    {% else %}
        {{ t('days-you-travelled-for-work:pageTitle', monthYearOfTravel | formatMonthYearObject(t)) }}
    {% endif %}
{% endblock %}

{% block journey_form %}

    {% if journeysOrMileage === "mileage" %}

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                {{ t('days-you-travelled-for-work:h1Miles', monthYearOfTravel | formatMonthYearObject(t)) }}
                </h1>
            </legend>
        </fieldset>
    </div>

    {% elseif journeysOrMileage === "journeys" %}

    <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                    {{ t('days-you-travelled-for-work:h1NoOfJourneys', monthYearOfTravel | formatMonthYearObject(t)) }}
                    </h1>
                </legend>
            </fieldset>
        </div>

{% else %}

<div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    {{ t('days-you-travelled-for-work:h1Taxi', monthYearOfTravel | formatMonthYearObject(t)) }}
                </h1>
            </legend>
        </fieldset>
    </div>

{% endif %}

{% if journeysOrMileage === "mileage" %}

{% set j = 0 %}

{% set arrayDatesLength = arrayDates | length %}

{% for i in range(0, arrayDatesLength) %}

{% set weekStart = arrayDates[i].day + ' ' + t('common:months.' + dateOfTravel.mm) %}

{% if arrayDates[i].weekday == '1' %}

<div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            {{ t('common:weekBeginning') + ' ' + weekStart }}
          </h2>
        </legend>
      </fieldset>

      {% endif %}

{% set weekDay = t('common:days.' + arrayDates[i].weekday) + ' ' + arrayDates[i].day + ' ' + t('common:months.' + dateOfTravel.mm) %}

{% if arrayDates[i].day == days[j] %}

    {{ casaGovukInput({
            id: 'f-dateOfTravel['+i+'][dateOfTravel]',
            name: 'dateOfTravel['+i+'][dateOfTravel]',
            casaErrors: formErrors,
            classes: "govuk-input--width-4",
            value: reloadData[j].totalTravel,
            label: {
                text: weekDay
            }
        }) }}

        {% set j = j + 1 %}
   {% else %}

    {{ casaGovukInput({
        id: 'f-dateOfTravel['+i+'][dateOfTravel]',
        name: 'dateOfTravel['+i+'][dateOfTravel]',
        casaErrors: formErrors,
        classes: "govuk-input--width-4",
        value: formData.dateOfTravel[i].dateOfTravel,
        label: {
            text: weekDay
        }
    }) }}

    {% endif %}

{% endfor %}

{% else %}

{% set j = 0 %}

{% set arrayDatesLength = arrayDates | length %}

{% for i in range(0, arrayDatesLength) %}

{% set weekStart = arrayDates[i].day + ' ' + t('common:months.' + dateOfTravel.mm) %}

{% if arrayDates[i].weekday == '1' %}

<div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            {{ t('common:weekBeginning') + ' ' + weekStart }}
          </h2>
        </legend>
      </fieldset>

      {% endif %}

{% set weekDay = t('common:days.' + arrayDates[i].weekday) + ' ' + arrayDates[i].day + ' ' + t('common:months.' + dateOfTravel.mm) %}

{% if arrayDates[i].day == days[j] %}

{{ casaGovukInput({
        id: 'f-dateOfTravel['+i+'][dateOfTravel]',
        name: 'dateOfTravel['+i+'][dateOfTravel]',
        casaErrors: formErrors,
        classes: "govuk-input--width-2",
        value: reloadData[j].totalTravel,
        label: {
            text: weekDay
        }
    }) }}

    {% set j = j + 1 %}
   {% else %}

    {{ casaGovukInput({
        id: 'f-dateOfTravel['+i+'][dateOfTravel]',
        name: 'dateOfTravel['+i+'][dateOfTravel]',
        casaErrors: formErrors,
        classes: "govuk-input--width-2",
        value: formData.dateOfTravel[i].dateOfTravel,
        label: {
            text: weekDay
        }
    }) }}

    {% endif %}

{% endfor %}

{% endif %}

</div>

{% endblock %}
