{% extends "layouts/journey.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "casa/components/radios/macro.njk" import casaGovukRadios with context %}
{% from "components/card-summary/macro.njk" import customSummaryCardTable with context %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% set summaryBlocks %}
    {% set monthLength = allData | length %}
    {% set monthsArray = [] %}
    {% set actionsArray = [] %}

    {% for key, value in allData %}

        {% set urlSuffix = '?removeId=' + key %}
        {% set formatMonthYear = value.monthYear | formatMonthYearObject(t) %}
        {% set travelLength = value.claim | length %}
        {% set rowsArray = [] %}

        {% for s in range(0, travelLength) %}

            {% set totalTravelBlock %}
                <ul class="govuk-list">
                    <li>{{ value.claim[s].totalTravel }}</li>
                </ul>
            {% endset -%}

            {% set visuallyHiddenTextBlock %}
                {% if totalJourneys === 1 %}
                    {{ t('journey-summary:vhtMile') if journeysOrMileage === 'mileage' else t('journey-summary:vhtJourney') }}
                {% else %}
                    {{ t('journey-summary:vhtMiles') if journeysOrMileage === 'mileage' else t('journey-summary:vhtJourneys') }}
                {% endif %}
            {% endset -%}

            {% set formatMonthYear = value.monthYear | formatMonthYearObject(t) %}

            {% if monthLength > 1 %}
                {% set actionsArray = {
                items: [
                    {
                    href: calculateChangeLinkUrl(key, s, inEditMode),
                    text: t('journey-summary:changeMiles') if journeysOrMileage === 'mileage' else t('journey-summary:changeJourneys'),
                    visuallyHiddenText: visuallyHiddenTextBlock
                    },
                    {
                    href: calculateRemoveLinkUrl(key, s, inEditMode),
                    text: t('journey-summary:remove'),
                    visuallyHiddenText: t('journey-summary:vhtRemoveLink', formatMonthYear)
                    }
                ]
                } %}
            {% else %}
                {% set actionsArray = {
                items: [
                    {
                    href: calculateChangeLinkUrl(key, s, inEditMode),
                    text: t('journey-summary:changeMiles') if journeysOrMileage === 'mileage' else t('journey-summary:changeJourneys'),
                    visuallyHiddenText: visuallyHiddenTextBlock
                    }
                ]
                } %}
            {% endif %}

                {% set rowsArray = (rowsArray.push({
                    key: {
                        text: value.claim[s].dayOfTravel + ' ' + formatMonthYear
                    },
                    value: { html: totalTravelBlock | safe }
                }), rowsArray) %}
                </fieldset>
        {% endfor %}

        {% set tableSubHeadingBlock %}
            {% if howDidYouTravelForWork === 'lift' %}
                {{ t('journey-summary:subHeadingMiles', formatMonthYear) if journeysOrMileage === 'mileage' else t('journey-summary:subHeadingLift', formatMonthYear)}}
            {% elif howDidYouTravelForWork === 'taxi' %}
                {{ t('journey-summary:subHeadingTaxi', formatMonthYear) }}
            {% endif %}
        {% endset -%}

        {{ customSummaryCardTable({
            card: {
                title: {
                text: tableSubHeadingBlock
                },
                actions: actionsArray
            },
            rows: rowsArray
        }) }}
    {% endfor %}

{% endset -%}

{% macro getSummaryHeading() %}
    {% if totalJourneys === 1 %}
        {{ t('journey-summary:h1MileageSingle') if journeysOrMileage ===  'mileage' else t('journey-summary:h1JourneySingle') }}
    {% else %}
        {{ t('journey-summary:h1MileageMultiple', totalJourneys | round(1) ) if journeysOrMileage ===  'mileage' else t('journey-summary:h1JourneyMultiple', totalJourneys ) }}
    {% endif %}

{% endmacro %}

{% macro getPageTitleHeading() %}
    {% if totalJourneys === 1 %}
        {{ t('journey-summary:pageTitleMileageSingle') if journeysOrMileage ===  'mileage' else t('journey-summary:pageTitleJourneySingle') }}
    {% else %}
        {{ t('journey-summary:pageTitleMileageMultiple', totalJourneys | round(1) ) if journeysOrMileage ===  'mileage' else t('journey-summary:pageTitleJourneyMultiple', totalJourneys ) }}
    {% endif %}

{% endmacro %}

    {% block head %}
        {{ super() }}
        <link href="{{ casa.mountUrl }}public/css/summaryCard.css?{{ version }}" rel="stylesheet">
    {% endblock %}

    {% block casaPageTitle %}
        {{ getPageTitleHeading() }}
    {% endblock %}

    {% block journey_form %}

        <h1 class="govuk-heading-l">{{ getSummaryHeading() }}</h1>

        {{ summaryBlocks | safe }}

        {{ casaGovukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "anotherMonth",
            name: "anotherMonth",
            casaValue: formData.anotherMonth,
            fieldset: {
                legend: {
                    text:  t('journey-summary:mileageRadioText') if journeysOrMileage ===  'mileage' else t('journey-summary:journeyRadioText'),
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--m"
                }
            },
            casaErrors: formErrors,
            items: [
                {
                    value: "yes",
                    text: t('journey-summary:radioYes')
                },
                {
                    value: "no",
                    text: t('journey-summary:radioNo')
                }
            ]
        }) }}

    {% endblock %}

