{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('total-amount-to-be-paid-towards-work-travel-costs:pageTitle', totalCost) }}
{% endblock %}

{% block journey_form %}
    <h1 class="govuk-heading-l">
        {{ t('total-amount-to-be-paid-towards-work-travel-costs:h1', totalCost) }}
    </h1>

    <p class="govuk-body">
        {{ t('total-amount-to-be-paid-towards-work-travel-costs:p') }}
    </p>

{% endblock %}
