{% extends "layouts/journey.njk" %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageTitle %}
    {{ t('what-you-will-need-to-submit-a-claim:TTW.pageTitle') }}
{% endblock %}

{% block journey_form %}


    <h1 class="govuk-heading-l">{{ t('what-you-will-need-to-submit-a-claim:TTW.h1') }}</h1>

    <p class="govuk-body">{{ t('what-you-will-need-to-submit-a-claim:TTW.h1-body') }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('what-you-will-need-to-submit-a-claim:TTW.ul.li1.1') }}</li>
        <li>{{ t('what-you-will-need-to-submit-a-claim:TTW.ul.li1.2') }}</li>
    </ul>

    <p class="govuk-body">{{ t('what-you-will-need-to-submit-a-claim:TTW.paragraph1') }}</p>

    <h2 class="govuk-heading-m">{{ t('what-you-will-need-to-submit-a-claim:TTW.h2-2') }}</h2>
    <p class="govuk-body">{{ t('what-you-will-need-to-submit-a-claim:TTW.paragraph2') }}</p>

{% endblock %}
