{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {{ t('your-work-travel-grant:pageTitle') }}
{% endblock %}

{% block journey_form %}
    <h1 class="govuk-heading-l">
        {{ t('your-work-travel-grant:h1') }}
    </h1>

    <p class="govuk-body">{{ t('your-work-travel-grant:paragraph1',
        grant.startDate | formatLocalDateTime(locale),
        grant.endDate | formatLocalDateTime(locale)) }}</p>
    <p class="govuk-body">{{ t('your-work-travel-grant:paragraph2') | safe() }}</p>

    <h2 class="govuk-heading-m">{{ t('your-work-travel-grant:h2') }}</h2>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ t('your-work-travel-grant:table.row1.col1') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ grant.travelToWorkDetails.costPerJourney | formatCurrency }}
                {{ t('your-work-travel-grant:table.row1.suffix')}}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ t('your-work-travel-grant:table.row2.col1') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ grant.totalCost | formatCurrency }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ t('your-work-travel-grant:table.row3.col1') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ grant.nonAtwCost | formatCurrency }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ t('your-work-travel-grant:table.row4.col1') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ grant.atwCost | formatCurrency }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                {{ t('your-work-travel-grant:table.row5.col1') }}
            </dt>
            <dd class="govuk-summary-list__value">
                {{ (grant.totalCost - grant.spendToDate) | formatCurrency }}
            </dd>
        </div>
    </dl>

{% endblock %}
