{% extends "layouts/journey.njk" %}

{% block casaPageTitle %}
    {% if awardType == 'EA' %}
        {{ t('getting-digital-receipts-or-invoices:ea.pageTitle') }}
    {% elif awardType == 'AV' %}
        {{ t('getting-digital-receipts-or-invoices:av.pageTitle') }}
    {% elif awardType == 'SW' %}
        {{ t('getting-digital-receipts-or-invoices:sw.pageTitle') }}
    {% elif awardType == 'TW' %}
        {{ t('getting-digital-receipts-or-invoices:tw.pageTitle') }}
    {% elif awardType == 'TIW' %}
        {{ t('getting-digital-receipts-or-invoices:tiw.pageTitle') }}
    {% endif %}
{% endblock %}

{% block journey_form %}
    <h1 class="govuk-heading-l">{{ t('getting-digital-receipts-or-invoices:h1') }}</h1>
    <p class="govuk-body">{{ t('getting-digital-receipts-or-invoices:paragraph1') }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('getting-digital-receipts-or-invoices:ul1.li1') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul1.li2') }}</li>
    </ul>
    {% if isOnTtwJourney %}
        <p class="govuk-body">{{ t('getting-digital-receipts-or-invoices:paragraph2Tw') }}</p>
    {% else %}
        <p class="govuk-body">{{ t('getting-digital-receipts-or-invoices:paragraph2') }}</p>
    {% endif %}
    {% if isOnEaJourney %}
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ea.li1') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ea.li2') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ea.li3') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ea.li4') }}</li>
    </ul>
    {% endif %}
    {% if isOnSwJourney %}
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Sw.li1') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Sw.li2') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Sw.li3') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Sw.li4') }}</li>
    </ul>
    {% endif %}
    {% if isOnAvJourney %}
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('getting-digital-receipts-or-invoices:ul2At.li1') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2At.li2') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2At.li3') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2At.li4') }}</li>
    </ul>
    {% endif %}
     {% if isOnTtwJourney %}
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Tw.li1') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Tw.li2') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Tw.li3') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Tw.li4') }}</li>
    </ul>
    {% endif %}
    {% if isOnTiwJourney %}
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ti.li1') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ti.li2') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ti.li3') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul2Ti.li4') }}</li>
    </ul>
    {% endif %}
    <h2 class="govuk-heading-m">{{ t('getting-digital-receipts-or-invoices:h2-1') }}</h2>
    <p class="govuk-body">{{ t('getting-digital-receipts-or-invoices:paragraph3') }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('getting-digital-receipts-or-invoices:ul3.li1') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul3.li2') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul3.li3') }}</li>
        <li>{{ t('getting-digital-receipts-or-invoices:ul3.li4') }}</li>
    </ul>

{% endblock %}
