{% extends "layouts/journey.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block casaPageTitle %}
    {% if awardType == 'EA' %}
        {{ t('remove-receipt-or-invoice:ea.pageTitle') }}
    {% elif awardType == 'AV' %}
        {{ t('remove-receipt-or-invoice:av.pageTitle') }}
    {% elif awardType == 'SW' %}
        {{ t('remove-receipt-or-invoice:sw.pageTitle') }}
    {% elif awardType == 'TW' %}
        {{ t('remove-receipt-or-invoice:tw.pageTitle') }}
    {% elif awardType == 'TIW' %}
        {{ t('remove-receipt-or-invoice:tiw.pageTitle') }}
    {% endif %}
{% endblock %}

{% block journey_form %}

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "f-removingEntry",
        name: "removingEntry",
        casaValue: formData.removingEntry,
        fieldset: {
            legend: {
                text: t('remove-receipt-or-invoice:h1'),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
        },
        items: [
            {
                value: "yes",
                text: t('remove-receipt-or-invoice:radioYes')
            },
            {
                value: "no",
                text: t('remove-receipt-or-invoice:radioNo')
            }
        ]
    }) }}

{% endblock %}
