{% extends "layouts/journey.njk" %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block casaPageTitle %}
    {% if awardType == 'EA' %}
        {{ t('upload-receipts-or-invoices:ea.pageTitle') }}
    {% elif awardType == 'AV' %}
        {{ t('upload-receipts-or-invoices:av.pageTitle') }}
    {% elif awardType == 'SW' %}
        {{ t('upload-receipts-or-invoices:sw.pageTitle') }}
    {% elif awardType == 'TW' %}
        {{ t('upload-receipts-or-invoices:tw.pageTitle') }}
    {% elif awardType == 'TIW' %}
        {{ t('upload-receipts-or-invoices:tiw.pageTitle') }}
    {% endif %}
{% endblock %}

{% block journey_form %}

    <div id="upload-error"></div>

    <h1 class="govuk-heading-l">{{ t('upload-receipts-or-invoices:h1') }}</h1>

    <p class="govuk-body">{{ t('upload-receipts-or-invoices:paragraph1') }}</p>
    <p class="govuk-body">{{ t('upload-receipts-or-invoices:paragraph2') }}</p>

    {{ govukFileUpload({
        id: "f-file",
        name: "file",
        attributes: {
            accept: ".jpg, .jpeg, .png, .pdf, .docx, .doc"
        },
        errorMessage:
        {
            text:  t(formErrors.file[0].inline)
        } if formErrors else null,

        label: {
            text: t('upload-receipts-or-invoices:label')
        }
    }) }}


{% endblock %}


{% block lower_content %}
    <div hidden data-file-size-limit="{{ fileSizeLimit }}" id="data-file-size-limit"></div>
    <div hidden data-error-summary="{{ t("upload-receipts-or-invoices:errors.tooLarge") }}"
         id="data-error-size-summary"></div>
    <div hidden data-error-inline="{{ t("upload-receipts-or-invoices:errors.tooLarge") }}"
         id="data-error-size-inline"></div>
    <div hidden data-error-summary="{{ t("upload-receipts-or-invoices:errors.invalidType") }}"
         id="data-error-type-summary"></div>
    <div hidden data-error-inline="{{ t("upload-receipts-or-invoices:errors.invalidType") }}"
         id="data-error-type-inline"></div>
{% endblock %}


{% block bodyEnd %}
    {{ super() }}
    <script nonce="{{ nonce }}" src="{{ casa.mountUrl }}public/js/upload-file-validation.js?{{ version }}"></script>
{% endblock %}
