{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {% if awardType == 'EA' %}
        {{ t('about-needs-to-be-paid:ea.pageTitle') }}
    {% elif awardType == 'AV' %}
        {{ t('about-needs-to-be-paid:av.pageTitle') }}
    {% elif awardType == 'SW' %}
        {{ t('about-needs-to-be-paid:sw.pageTitle') }}
    {% elif awardType == 'TW' %}
        {{ t('about-needs-to-be-paid:tw.pageTitle') }}
    {% elif awardType == 'TIW' %}
        {{ t('about-needs-to-be-paid:tiw.pageTitle') }}
    {% endif %}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l">{{ t('about-needs-to-be-paid:h1') }}</h1>

    {%- if formData.fullName or formData.emailAddress %}

        {{ casaGovukInput({
        label: {
            text: t('about-needs-to-be-paid:inputs.fullName.label'),
            classes: 'govuk-label govuk-label--m'
        },
        hint: {
            text: t('about-needs-to-be-paid:inputs.fullName.hint')
        },
        attributes: {
            "aria-required": true
        },
        name: "fullName",
        value: formData.fullName,
        casaErrors: formErrors,
        autocomplete: 'name'
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('about-needs-to-be-paid:inputs.emailAddress.label'),
            classes: 'govuk-label govuk-label--m'
        },
        hint: {
            text: t('about-needs-to-be-paid:inputs.emailAddress.hint')
        },
        attributes: {
            "aria-required": true
        },
        name: "emailAddress",
        value: formData.emailAddress,
        casaErrors: formErrors,
        autocomplete: 'email'
    }) }}

    {%- else %}

    {{ casaGovukInput({
        label: {
            text: t('about-needs-to-be-paid:inputs.fullName.label'),
            class: 'govuk-heading-m'
        },
        hint: {
            text: t('about-needs-to-be-paid:inputs.fullName.hint')
        },
        attributes: {
            "aria-required": true
        },
        name: "fullName",
        value: existingPayeeFullName if existingPayeeFullName ,
        casaErrors: formErrors,
        autocomplete: 'name'
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('about-needs-to-be-paid:inputs.emailAddress.label'),
            class: 'govuk-heading-m'
        },
        hint: {
            text: t('about-needs-to-be-paid:inputs.emailAddress.hint')
        },
        attributes: {
            "aria-required": true
        },
        name: "emailAddress",
        value: existingPayeeEmailAddress if existingPayeeEmailAddress,
        casaErrors: formErrors,
        autocomplete: 'email'
    }) }}

    {% endif %}

{% endblock %}
