{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import "casaGovukInput" with context %}

{% block casaPageTitle %}
    {% if awardType == 'EA' %}
        {{ t('bank-details-of-person-or-company-being-paid:ea.pageTitle') }}
    {% elif awardType == 'AV' %}
        {{ t('bank-details-of-person-or-company-being-paid:av.pageTitle') }}
    {% elif awardType == 'SW' %}
        {{ t('bank-details-of-person-or-company-being-paid:sw.pageTitle') }}
    {% elif awardType == 'TW' %}
        {{ t('bank-details-of-person-or-company-being-paid:tw.pageTitle') }}
    {% elif awardType == 'TIW' %}
        {{ t('bank-details-of-person-or-company-being-paid:tiw.pageTitle') }}
    {% endif %}
{% endblock %}

{% block journey_form %}

    <h1 class="govuk-heading-l" data-ga-question="{{ t('bank-details-of-person-or-company-being-paid:h1-ga') }}">
        {{ t('bank-details-of-person-or-company-being-paid:h1', payeeName) }}</h1>

    {{ casaGovukInput({
        label: {
            text: t('bank-details-of-person-or-company-being-paid:accountHolderName.label')
        },
        attributes: {
            "aria-required": true
        },
        name: "accountHolderName",
        value: formData.accountHolderName,
        casaErrors: formErrors,
        autocomplete: 'name'
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('bank-details-of-person-or-company-being-paid:sortCode.label')
        },
        hint: {
            text: t('bank-details-of-person-or-company-being-paid:sortCode.hint')
        },
        attributes: {
            "aria-required": true
        },
        name: "sortCode",
        classes: "govuk-input--width-5",
        value: formData.sortCode,
        casaErrors: formErrors
    }) }}
    {{ casaGovukInput({
        label: {
            text: t('bank-details-of-person-or-company-being-paid:accountNumber.label')
        },
        hint: {
            text: t('bank-details-of-person-or-company-being-paid:accountNumber.hint')
        },
        attributes: {
            "aria-required": true
        },
        classes: "govuk-input--width-10",
        name: "accountNumber",
        value: formData.accountNumber,
        casaErrors: formErrors
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('bank-details-of-person-or-company-being-paid:rollNumber.label')
        },
        hint: {
            text: t('bank-details-of-person-or-company-being-paid:rollNumber.hint')
        },
        attributes: {
            "aria-required": true
        },
        name: "rollNumber",
        classes: "govuk-input--width-10",
        value: formData.rollNumber,
        casaErrors: formErrors
    }) }}

{% endblock %}
