{% extends "layouts/journey.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton with context %}
{% from "govuk/components/summary-list/macro.njk" import "govukSummaryList" with context %}

{% block casaPageTitle %}
    {{ t('confirm-workplace-contact-details:pageTitle') }}
{% endblock %}

{% block journey_form %}
    <h1 class="govuk-heading-l hide-print">{{ t('confirm-workplace-contact-details:h1') }}</h1>
    <input type="hidden" name="reviewed" value="true"/>

    {% if journeyType == 'SUPPORT_WORKER' %}

        {{ govukSummaryList({
            rows: [
                {
                    key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.fullName') },
                    value: { text: fullName },
                    actions: {
                    items: [
                        {
                            href: 'confirmer-details#f-fullName',
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.visuallyHiddenText.SW.name'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
                },
                {
                    key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.emailAddress') },
                    value: { text: emailAddress },
                    actions: {
                    items: [
                        {
                            href: 'confirmer-details#f-emailAddress',
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.visuallyHiddenText.SW.email'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
                }
            ]
        }) }}

    {% else %}

            {{ govukSummaryList({
            rows: [
                {
                    key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.fullName') },
                    value: { text: fullName },
                    actions: {
                    items: [
                        {
                            href: 'confirmer-details#f-fullName',
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.visuallyHiddenText.TIW.name'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
                },
                {
                    key: { text: t('details-of-someone-who-can-confirm-costs:reviewBlock.emailAddress') },
                    value: { text: emailAddress },
                    actions: {
                    items: [
                        {
                            href: 'confirmer-details#f-emailAddress',
                            text: t('review:block.changeLink'),
                            visuallyHiddenText: t('details-of-someone-who-can-confirm-costs:reviewBlock.visuallyHiddenText.TIW.email'),
                            classes: 'govuk-link--no-visited-state hide-print'
                        }
                    ]
                }
                }
            ]
        }) }}
    
    {% endif %}


    <p class="govuk-body">{{ t('confirm-workplace-contact-details:p1') }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('confirm-workplace-contact-details:li1') }}</li>
        <li>{{ t('confirm-workplace-contact-details:li2') }}</li>
    </ul>

{% endblock %}
