{% extends "layouts/journey.njk" %}
{% from "casa/components/input/macro.njk" import casaGovukInput with context %}

{% block casaPageTitle %}
    {% if isOnSwJourney %}
        {{ t('details-of-someone-who-can-confirm-costs:pageTitleSW') }}
    {% elif isOnTtwJourney %}
        {{ t('details-of-someone-who-can-confirm-costs:pageTitleTW') }}
    {% elif isOnTiwJourney %}
        {{ t('details-of-someone-who-can-confirm-costs:pageTitleTiW') }}
    {% endif %}
{% endblock %}


{% block journey_form %}

    {% if isOnSwJourney%}
        <h1 class="govuk-heading-l">{{ t('details-of-someone-who-can-confirm-costs:h1SW') }}</h1>
        <p class="govuk-body">{{ t('details-of-someone-who-can-confirm-costs:pSW') }}</p>
        <p class="govuk-body">{{ t('details-of-someone-who-can-confirm-costs:p2SW') }}</p>
    {% elif isOnTtwJourney %}
        <h1 class="govuk-heading-l">{{ t('details-of-someone-who-can-confirm-costs:h1TW') }}</h1>
    {% elif isOnTiwJourney %}
        <h1 class="govuk-heading-l">{{ t('details-of-someone-who-can-confirm-costs:h1TiW') }}</h1>
        <p class="govuk-body">{{ t('details-of-someone-who-can-confirm-costs:pTIW') }}</p>
    {% endif %}



    {{ casaGovukInput({
        label: {
            text: t('details-of-someone-who-can-confirm-costs:inputs.fullName.label')
        },
        hint: {
            text: t('details-of-someone-who-can-confirm-costs:inputs.fullName.hint')
        },
        name: "fullName",
        value: formData.fullName,
        casaErrors: formErrors,
        attributes: {
            "aria-required": true
        },
        autocomplete: 'name'
    }) }}

    {{ casaGovukInput({
        label: {
            text: t('details-of-someone-who-can-confirm-costs:inputs.emailAddress.label')
        },
        hint: {
            text: t('details-of-someone-who-can-confirm-costs:inputs.emailAddress.hint')
        },
        name: "emailAddress",
        value: formData.emailAddress,
        casaErrors: formErrors,
        attributes: {
            "aria-required": true
        },
        autocomplete: 'email'
    }) }}


{% endblock %}
