{% extends "layouts/journey.njk" %}

{% block pageTitle %}
  {{ t('cannot-use-service:pageTitle') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ t('cannot-use-service:h1') }}</h1>

    <p class="govuk-body">{{ t('cannot-use-service:p1') }}</p>
    
    <p class="govuk-body">{{ t('cannot-use-service:p2') }}</p>

    <p class="govuk-body">{{ t('cannot-use-service:p3.link', { url: 'https://www.gov.uk/access-to-work/claiming-from-your-grant' }) | safe }}</a></p>

{% endblock %}